@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --green--: #588157;
  --dark-brown--: #432818;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}


.App{

}


#debt{
  display: flex;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 20px;
  background-color: var(--green--);
}

#debt > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

#debt-date{
  border: 1px solid black;
  width: 15%;
  height: 100px;
  padding: 0 15px;
}

#debt-title-div{
 flex: 1;
 border: 1px solid black;
 height: 100px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding: 0 15px;
 width: 100%;
}

#debt-title{
  text-align: left;
  display: flex;
}


#debt-title input{
font-size: 3rem;
border: none;
}


#new-debt{
  opacity: .1;
  transition: .5s;
  
}

#new-debt:hover{
  opacity: 1;
}








#debt-title-toggles{
  display: flex;
  gap: 15px;
}

#debt-put-in-amnt{
  border: 1px solid black;
  height: 100px;
  padding: 0 15px;
}


#debt-put-in-amnt input, #debt-origin-amnt input{
 font-size: 30px;
 border: none;
 width: 100%;
 text-align: center;
} 

#debt-origin-amnt{
  border: 1px solid black;
  height: 100px;
  padding: 0 15px;
}


#debt-retract{
  border: 1px solid black;
  height: 100px;
  padding: 0 15px;
  width: 15%;
  cursor: pointer;
}

#debt-add{
  border: 1px solid black;
  height: 100px;
  padding: 0 15px;
  width: 15%;
  cursor: pointer;
}


#debt-progress-bar{
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 100px;
  width: 15px;
  padding: 0px;
}



#login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


#login-form .form{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 30px;
  border: 1px solid black;
  gap: 15px;
  font-size: 30px;
  background-color: var(--green--);
}


#login-form .item{
 text-align: center;
}

#login-form .buttons{
text-align: center;
display: flex;
gap: 15px;
cursor: pointer;
}


#login-form input {
  width: 100%;
  height: 35px;
  font-size: 25px;
  text-align: center;
}




#navbar{
  display: flex;
  background-color: var(--green--);
  padding: 15px;
}

#navbar-logout{
  display: flex;
  cursor: pointer;
}

#navbar-name{
  display: flex;
  justify-content: center;
  flex: 10;
}


#debt-list{
  display: 'flex'; 
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: var(--dark-brown--);
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green--);
  padding: 15px;
}


#home {
  background-image: url('../public/graphs.png');
  height: 100vh;
  background-size: cover;
}


#home main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#home main h3 {
  background-color: var(--green--);
  padding: 15px;
  color: white;
  transition: .5s;
}


#home main h3:hover {
 border-radius: 15px;
}
